.poke-box
{
  height: 200px;
  width: 23%;
  border: 1px;
  background-color: rosybrown;
  border-radius: 5%;
  margin: 1%;
  text-decoration: none;
  display: flex;
}

.poke-box a {
  text-decoration: none;
  color: black;
}
.poke-page
{
  display: flex;
  flex-wrap: wrap;
}

.poke-box-link
{
  width: 100%;
  height: 100%;
}

.poke-box-inner
{
  width: 100%;
  height: 100%;
  display: flex;
}

.poke-img-container
{
  width: 25%;
}

.poke-img
{
  width: 80%;
  height: auto;
}
.poke-info
{
  width: 75%;
}